<template name="HomePublic">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-md-8 col-md-offset-2" style="padding-top:50px;">
					{{> HomePublicHomeJumbotron}}
			</div>
		</div>
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				GridERP
			</h1>
			<p id="jumbotron-text">
				<b>A boilerplate ERP system built with the Meteor Web Application framework.</b>
				<br />It demonstrates a complex Meteor application built with many packages and modules.
				<br /><br />Source code is available at Bitbucket: <a href="https://bitbucket.org/quasimotoca/griderp" target="_blank">GridERP</a>.
				<br />Also stay up to date on Twitter: <a href="https://twitter.com/griderporg" target="_blank">@griderporg</a>.
				<br /><br /><i class="fa fa-arrow-circle-right"></i> This site is updated regularly. We're just getting started :-)
			</p><br />
			<p id="jumbotron-button">
				<a href="#" class="btn btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
	<div style="text-align: center;">
		<h2>Contributors</h2>
		<hr />
	</div>
</template>

