<template name="ResetPassword">

	<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h1 class="logo-name" style="font-size: 100px; margin-left: -20px;">GridERP</h1>
        </div>
		<form id="reset_password_form" class="m-t" role="form">
			<h2>
				Reset password
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="new_password" type="password" class="form-control" placeholder="Your new password" required autofocus>
			<input style="margin-top:8px;" id="new_password_confirm" type="password" class="form-control" placeholder="Confirm password" required>
			<button style="margin-top:8px;" class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Please wait...">
				Submit
			</button>
		</form>
	</div>
</template>

