<template name="ForgotPassword">

	<div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h1 class="logo-name" style="font-size: 100px; margin-left: -20px;">GridERP</h1>
        </div>
		{{#if resetPasswordSent}}
		<div>
			<h2>
				Forgot password
			</h2>
			<p>
				A  password reset link was sent to your e-mail address.
			</p>
			<a href="{{pathFor 'login'}}" class="btn btn-lg btn-primary" id="reset_password_sent">
				OK
			</a>
		</div>
		{{else}}
		<form id="forgot_password_form" class="m-t" role="form">
			<h2>
				Forgot password
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="reset_email" type="text" class="form-control" placeholder="Email address" required autofocus>
			<button style="margin-top:8px;" class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Please wait...">
				Submit
			</button>
		</form>
		{{/if}}
	</div>
</template>

